*{
    box-sizing: border-box;
}

.login{
    text-align: center;
    justify-content: center;
    background-color: grey;
    
    
    font-size: 25px;
    
}

input{
    font-size: 22px;
    margin-top: 4rem;
}